#title {
    margin: auto;
    width: 600px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 30px;
}

#container {
    text-align: center;
}

/* Table with users and their roles. */
#maintable {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

#maintable td, #maintable th {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

#maintable td, #maintable th {
    width: 48%;
}

/* Delete (user & role) button. */
#maintable td.deleter, #maintable th.deleter {
    min-width: 50px;
}

td.deleter button {
    width: 10px;
    border: none;
}

/* Adding a new user with role. */
#addUser, #buttonAddUser, #dropdownDiv, #buttonAddRoleToUser, #roles_dropdown, button {
    width: 100%;
}

#grid {
    height: 40px;
}

a.dropdown-item {
    background-color: lightgrey;
    color: black;
}

/* Section with roles table. */
h3 {
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: left;
}

#rolestable {
    width: 50%;
    margin-bottom: 50px;
    text-align: center;
}

#rolestable td, #rolestable th {
    width: 92%;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

/* Adding a new role. */
#grid-role, #cell-role {
    width: 50%
}

#addRole {
    width: 100%;
}

#rolestable th.deleter, #rolestable td.deleter {
    min-width: 50px;
}